/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	margin-left: 2.5rem;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



:root {
  --black: #0B0C0C;
  --white: #E9EAEC;
  --off-white: #F2F2F2;
  --off-black: #222222;
  --pure-black: #000000;
  --gray  : #6E6E6E;
  --yellow: #E4B61A;
}



body {
  margin: 0;
  font-size: 16px;
  font-family: 'Poppins Regular';
  background-color: var(--white);
}

hr {
  border: none;
  border-top: 1px solid var(--black);
  width: 5rem;
  margin: 0;
}

hr.full {
  width: auto;
}



/** COLOR PROPERTIES **/
.gray {
  color: var(--gray);
}




/** FONT PROPERTIES **/

@font-face {
  font-family: 'Poppins Regular';
  src: url('../assets/fonts/Poppins-Regular.ttf');
}

@font-face {
  font-family: 'Poppins Medium';
  src: url('../assets/fonts/Poppins-Medium.ttf');
}

@font-face {
  font-family: 'Poppins SemiBold';
  src: url('../assets/fonts/Poppins-SemiBold.ttf');
}

@font-face {
  font-family: 'Poppins Bold';
  src: url('../assets/fonts/Poppins-Bold.ttf');
}

@font-face {
  font-family: 'Poppins Light';
  src: url('../assets/fonts/Poppins-Light.ttf');
}

h1, h2, h4, h5, h6 {
  font-family: 'Poppins Medium';
}

h1 {
  font-size: 48px;
  letter-spacing: -1px;
  line-height: 130%;
}

h1.uppercase {
  font-size: 19px;
  letter-spacing: 0px;
  line-height: 160%;
  text-transform: uppercase;
}

h2 {
  font-size: 40px;
  letter-spacing: -1px;
  line-height: 130%;
}

h3 {
  font-family: 'Poppins Regular';
  font-size: 19px;
  line-height: 160%;
  text-transform: uppercase;
}

h4 {
  font-size: 28px;
  line-height: 140%;
  letter-spacing: -1px;
}

h4.project {
  line-height: 0%;
}

h5 {
  font-size: 23px;
  line-height: 160%;
}

h6 {
  font-size: 19px;
  line-height: 160%;
}

p {
  line-height: 180%;
}

p.copyright,
figcaption {
  font-family: 'Poppins Regular';
  font-size: 13px;
  text-transform: uppercase;
}

figcaption {
  color: var(--gray);
}

a {
  font-family: 'Poppins Medium';
  color: var(--black);
  text-decoration: none;
  position: relative;
}

a.underline-hover::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: -8px;
  left: 0;
  transform: scaleX(0);
  transform-origin: top left;
  transition: transform 0.2s ease;
}

a.underline-hover.black::before {
  background-color: var(--black);
}

a.underline-hover.white::before {
  background-color: var(--white);
}

a.underline-hover:hover::before {
  transform: scaleX(1);
}

ul {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

ul.list-style-none {
  list-style: none;
  margin: 0;
}



.display-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;
}

.justify-center {
  justify-content: center;
}

.justify-space-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.justify-content-end {
  justify-content: flex-end;
}

.gap-4 {
  gap: 0.25rem;
}

.gap-8 {
  gap: 0.5rem;
}

.gap-16 {
  gap: 1rem;
}

.gap-24 {
  gap: 1.5rem;
}

.gap-32 {
  gap: 2rem;
}

.gap-48 {
  gap: 3rem;
}

.gap-80 {
  gap: 5rem;
}

.gap-160 {
  gap: 10rem;
}




/** BUTTON STYLES **/

button,
.button {
  border: none;
  font-family: 'Poppins Medium';
  font-size: 16px;
  line-height: 160%;
}

.button.primary {
  background-color: var(--white);
  color: var(--black);

  display: flex;
  gap: 1rem;
  padding: 1.5rem 1.75rem;
}

.button.primary a {
  color: var(--black);
}

.button.big {
  background-color: var(--black);
  padding: 4rem 2.5rem;
  text-align: left;
  max-width: 7rem;
}

.button.big a {
  color: var(--white);
}

.button.slide:hover,
.button.slide:focus {
  background-color:var(--yellow);
  /*box-shadow: inset 6.5em 0 0 0 var(--hover);*/
}



/** BOX, CONTAINER, SECTION PROPERTIES **/

section {
  padding: 12.5rem 11.25rem;
  padding-top: 5rem;
}

.container {
  max-width: 97.5rem;
}

.box {
  border: 1px solid var(--gray);
  padding: 1.5rem 1.5rem 2.5rem 1.5rem;
  flex: 1;
}

.box .content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.card img {
  width: 100%;
  height: 75%;
  object-fit: cover;
}

section .left {
  min-width: 15rem;
}

section .right {
  max-width: 75rem;
}

.content-column {
  flex: 1;
}

.project-grid {
  display: grid;
  grid-gap: 5rem;
  grid-template-columns: repeat(2, minmax(17rem, 35rem));
}

.skills-grid {
  display: grid;
  grid-gap: 3rem;
  grid-template-columns: repeat(3, minmax(13.5rem, 23rem));
}



nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
}


@media only screen and (min-width: 1280px) {
  nav {
    width: calc(100% - 6rem);
    padding: 3rem;
  }
}

@media only screen and (min-width: 1440px) {
  nav {
    width: calc(100% - 200px);
    padding: 48px 100px;
  }
}

nav .links {
  display: flex;
  gap: 2rem;
}

header {
  display: flex;
  height: 100vh;
}

header .left {
  flex: 1;
  background-color: var(--black);
  color: var(--white);
}

header .right {
  flex: 1;
}

header .right .content {
  margin: 9.375rem 10rem;
  align-items: flex-start;
}

header img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  object-position: center 20%;
}

@media only screen and (min-width: 1280px) {
  header .left {
    align-items: flex-start;
    padding: 7rem 10rem;
    gap: 7rem;
  }
}

.soft-skill-listing {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  padding: 2rem;
  padding-bottom: 3rem;
}

#contact {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--black);
  color: var(--white);
}

#contact .content {
  gap: 7rem;
  max-width: 1000px;
}

footer {
  padding: 80px 100px;
  background-color: var(--pure-black);
  color: var(--white);
}

footer a {
  color: var(--white);
}

footer .top {
  padding-bottom: 5rem;
  border-bottom: solid 1px var(--white);
}


#about-me .catchphrase,
#contact .catchphrase {
  border-left: 1rem solid var(--yellow);
}

@media only screen and (min-width: 1280px) {
  #about-me .catchphrase {
    padding-left: 3rem;
  }

  #contact .catchphrase {
    padding-left: 3rem;
  }
}



@media only screen and (min-width: 1920px) {
  #about-me {
    padding-top: 12.5rem;
    display: flex;
    gap: 5rem;
  }
  
  #about-me .left {
    flex: 1;
  }

  #about-me .right {
    flex: 5;
  }

  #about-me .catchphrase {
    max-width: 45rem;
  }

  #about-me .container {
    max-width: 97.5rem;
  }

  #skills-expertise .left {
    flex: 1;
  }

  #skills-expertise .right {
    flex: 5;
  }
}

@media only screen and (min-width: 834px) {
  .hard-skills {
    display: flex;
    gap: 3rem;
  }
}


@media only screen and (min-width: 744px) {
  .box {
    border: none;
    border-top: solid 1px var(--black);
  }

  .soft-skill-listing {
    border-top: solid 1px var(--black);
  }
}