/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	margin-left: 2.5rem;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



:root {
  --black: #0B0C0C;
  --white: #E9EAEC;
  --off-white: #F2F2F2;
  --off-black: #222222;
  --pure-black: #000000;
  --gray: #6E6E6E;
  --light-gray: #ACACAC;
  --yellow: #E4B61A;
}



body {
  margin: 0;
  font-size: 16px;
  font-family: 'Poppins Regular';
  background-color: var(--white);
}

html {
  scroll-behavior: smooth;
}

hr {
  border: none;
  border-top: 1px solid var(--black);
  width: 5rem;
  margin: 0;
}

hr.full {
  width: auto;
}



/** COLOR PROPERTIES **/
.gray {
  color: var(--gray);
}




/** FONT PROPERTIES **/

@font-face {
  font-family: 'Poppins Regular';
  src: url('../assets/fonts/Poppins-Regular.ttf');
}

@font-face {
  font-family: 'Poppins Medium';
  src: url('../assets/fonts/Poppins-Medium.ttf');
}

@font-face {
  font-family: 'Poppins SemiBold';
  src: url('../assets/fonts/Poppins-SemiBold.ttf');
}

@font-face {
  font-family: 'Poppins Bold';
  src: url('../assets/fonts/Poppins-Bold.ttf');
}

@font-face {
  font-family: 'Poppins Light';
  src: url('../assets/fonts/Poppins-Light.ttf');
}

h1, h2, h4, h5, h6 {
  font-family: 'Poppins Medium';
}

h1 {
  font-size: 48px;
  letter-spacing: -1px;
  line-height: 130%;
}

h1.uppercase {
  font-size: 19px;
  letter-spacing: 0px;
  line-height: 160%;
  text-transform: uppercase;
}

h2 {
  font-size: 40px;
  letter-spacing: -1px;
  line-height: 130%;
}

h3 {
  font-family: 'Poppins Regular';
  font-size: 19px;
  line-height: 160%;
  text-transform: uppercase;
}

h4 {
  font-size: 28px;
  line-height: 140%;
  letter-spacing: -1px;
}

h4.project {
  line-height: 0%;
}

h5 {
  font-size: 23px;
  line-height: 160%;
}

h6 {
  font-size: 19px;
  line-height: 160%;
}

p {
  line-height: 180%;
}

p.copyright,
figcaption {
  font-family: 'Poppins Regular';
  font-size: 13px;
  text-transform: uppercase;
}

figcaption {
  color: var(--gray);
}

a {
  font-family: 'Poppins Medium';
  color: var(--black);
  text-decoration: none;
  position: relative;
}

a.underline-hover::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: -8px;
  left: 0;
  transform: scaleX(0);
  transform-origin: top left;
  transition: transform 0.2s ease;
}

a.underline-hover.black::before {
  background-color: var(--black);
}

a.underline-hover.white::before {
  background-color: var(--white);
}

a.underline-hover.yellow::before {
  height: 2px;
  bottom: 0px;
  background-color: var(--yellow);
}

a.underline-hover:hover::before {
  transform: scaleX(1);
}

ul {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

ul.list-style-none {
  list-style: none;
  margin: 0;
}



.display-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;
}

.justify-center {
  justify-content: center;
}

.justify-space-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.justify-content-end {
  justify-content: flex-end;
}

.gap-4 {
  gap: 0.25rem;
}

.gap-8 {
  gap: 0.5rem;
}

.gap-16 {
  gap: 1rem;
}

.gap-24 {
  gap: 1.5rem;
}

.gap-32 {
  gap: 2rem;
}

.gap-48 {
  gap: 3rem;
}

.gap-80 {
  gap: 5rem;
}

.gap-160 {
  gap: 10rem;
}




/** BUTTON STYLES **/

button,
.button {
  border: none;
  font-family: 'Poppins Medium';
  font-size: 16px;
  line-height: 160%;
  transition: ease 0.4s;
}

.button.primary {
  background-color: var(--white);
  color: var(--black);

  display: flex;
  gap: 1rem;
  padding: 1rem 2rem;
  box-shadow: inset 0 0 0 0 var(--yellow);
}

.button.primary a {
  color: var(--black);
}

.button.big {
  background-color: var(--black);
  color: var(--white);
  padding: 4rem 2.5rem;
  text-align: left;
  max-width: 7rem;
  box-shadow: inset 0 0 0 0 var(--yellow);
}

.button.big:hover {
  color: var(--black);
}

.button.slide:hover,
.button.slide:focus {
  box-shadow: inset 17rem 0 0 0 var(--yellow);
}



/** IMAGE PROPERTIES **/
img {
  filter: grayscale(100%);
  transition: filter linear 0.1s;
}

img:hover {
  filter:grayscale(0%);
}



/** BOX, CONTAINER, SECTION PROPERTIES **/

section {
  padding: 4rem 1rem;
  padding-top: 2rem;
  justify-content: center;
}

@media only screen and (min-width: 744px) {
  section {
    padding: 5rem 2rem;
    padding-bottom: 5rem;
  }

  section .container {
    max-width: 62.5rem;
  }
}

@media only screen and (min-width: 1280px) {
  section {
    padding: 8rem 4rem;
  }

  section .container {
    max-width: 97.5rem;
  }
}

@media only screen and (min-width: 1920px) {
  section {
    padding: 12.5rem 11.25rem;
  }
}

.container {
  flex-direction: column;
}

@media only screen and (min-width: 1280px) {
  section .container {
    flex-direction: row;
    gap: 5rem;
  }
}

.box {
  border: 1px solid var(--gray);
  padding: 1.5rem 1.5rem 2.5rem 1.5rem;
  flex: 1;
  min-height: 17rem;
  box-sizing: border-box;
}

.box .content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.card img {
  width: 100%;
  height: 75%;
  object-fit: cover;
}

.card .img-link {
  display: inline-block;
  height: 100%;
}


@media only screen and (min-width: 1280px) {
  section .left {
    flex-direction: column;
    justify-content: space-between;
    min-width: 10rem;
  }
}

@media only screen and (min-width: 1440px) {
  section .left {
    min-width: 15rem;
  }
}

section .right {
  max-width: 75rem;
}

.content-column {
  flex: 1;
}

.project-grid {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

@media only screen and (min-width: 744px) {
  .project-grid {
    display: grid;
    grid-gap: 3rem;
    grid-template-columns: repeat(2, minmax(17rem, 35rem));
  }
}

@media only screen and (min-width: 1280px) {
  .project-grid {
    grid-gap: 5rem;
  }
}



.skills-grid {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

@media only screen and (min-width: 744px) {
  .skills-grid {
    display: grid;
    gap: 3rem;
    grid-gap: 3rem;
    grid-template-columns: repeat(3, minmax(12rem, 23rem));
  }
}


nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  padding: 1rem;

  transition: all linear 0.1s;
  mix-blend-mode: difference;
  filter: invert(100%);
}

nav .links {
  /*display: flex;*/
  display: none;
  gap: 2rem;
}

@media only screen and (min-width: 1280px) {
  nav {
    position: fixed;
    width: calc(100% - 6rem);
    padding: 2rem 3rem;
    mix-blend-mode: difference;
    filter: invert(100%);
  }

  nav .links {
    display: flex;
  }

  nav.collapsed {
    background-color: var(--white);
    border-bottom: solid 1px var(--light-gray);
    padding: 1rem 3rem;

    mix-blend-mode: normal;
    filter: invert(0%);
  }
}

header {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

@media only screen and (min-width: 1280px) {
  header {
    flex-direction: row;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0%;
  }
  70% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes slideUp {
  0% {
    transform: translateY(16px);
  }
  70% {
    transform: translateY(16px);
  }
  100% {
    transform: translateY(0px);
  }
}

header .container {
  align-items: flex-start;
  gap: 5rem;
}

header .left .content {
  gap: 1rem;
}

header .left {
  background-color: var(--black);
  color: var(--white);
  position: relative;
  padding: 2rem 1rem;
  padding-top: 6rem;
  box-sizing: border-box;

  min-height: 100vh;
  justify-content: flex-end;
}

header .left .container {
  animation-name: fadeIn, slideUp;
  animation-duration: 1s;
}

header .right .content {
  margin: 9.375rem 10rem;
  align-items: flex-start;
}

header img.main-img {
  width: 100%;
  /*height: 100vh;*/
  object-fit: cover;
  object-position: center 0%;
}

@media only screen and (min-width: 600px) and (orientation: portrait) {
  header .left {
    background-color: transparent;
  }

  header .left .container {
    mix-blend-mode: difference;
  }

  header .right {
    position: absolute;
    width: 100%;
    z-index: -1;
  }

  header img.main-img {
    height: 100vh;
  }
}

@media only screen and (min-width: 1280px) {
  header img.main-img {
    display: block;
    height: 100%;
  }

  header .left,
  header .right {
    flex: 1;
  }

  header .left {
    background-color: var(--black);
    justify-content: center;
  }

  header .left .container {
    gap: 6rem;
    margin: 4rem 3rem;
    mix-blend-mode: normal;
  }

  header .left .content {
    gap: 2rem;
  }

  header .right {
    position: relative;
    z-index: auto;
    width: auto;
  }
}

@media only screen and (min-width: 1440px) {  
  header .left .container {
    max-width: 40rem;
  }
}


.soft-skill-listing {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  /*padding: 1rem 0rem;*/
}

.soft-skill-name {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.soft-skill-listing .chevron {
  display:none;
  height: 0.75rem;
}


@media only screen and (min-width: 744px) {
  .soft-skill-listing {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    padding: 1rem;
    padding-bottom: 2rem;
  }
}

#contact {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--black);
  color: var(--white);
}

#contact .content {
  gap: 7rem;
  max-width: 1000px;
}

footer {
  padding: 3rem 1rem;
  padding-top: 2rem;
  background-color: var(--pure-black);
  color: var(--white);
}

footer a {
  color: var(--white);
}

footer .top {
  padding-bottom: 5rem;
  border-bottom: solid 1px var(--white);
}


.catchphrase {
  border-left: 0.5rem solid var(--yellow);
  padding-left: 2rem;
}

@media only screen and (min-width: 744px) {
  .catchphrase {
    border-left-width: 0.75rem;
  }
}

@media only screen and (min-width: 1280px) {
  .catchphrase {
    padding-left: 3rem;
  }
}


#about-me .columns {
  flex-direction: column;
  gap: 3rem;
}

#about-me .right {
  gap: 3rem;
}

@media only screen and (min-width: 1280px) {
  #about-me .columns {
    flex-direction: row;
    gap: 5rem;
  }
}



@media only screen and (min-width: 1920px) {
  #about-me {
    padding: 12.5rem 11.25rem;
  }
  
  #about-me .left {
    flex: 1;
  }

  #about-me .right {
    flex: 5;
  }

  #about-me .catchphrase {
    max-width: 45rem;
  }

  #about-me .container {
    max-width: 97.5rem;
  }

  #skills-expertise .left {
    flex: 1;
  }

  #skills-expertise .right {
    flex: 5;
  }
}

.hard-skills {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.hard-skills-container,
.soft-skills-container,
.hard-skills,
.soft-skills,
.skills-grid {
  gap: 2rem;
}

@media only screen and (min-width: 744px) {
  .hard-skills {
    flex-direction: row;
  }
}


@media only screen and (min-width: 1280px) {
  .hard-skills,
  .soft-skills,
  .skills-grid {
    gap: 3rem;
  }
}


@media only screen and (min-width: 744px) {
  .box {
    border: none;
    border-top: solid 1px var(--black);

    padding: 1rem;
    padding-bottom: 2rem;
  }

  .soft-skill-listing {
    border-top: solid 1px var(--black);
  }
}